extends layout

block content
  div(ng-controller='chat')
    h1= title
    p Welcome to #{title}
    ul
      li(ng-repeat="h in history track by $index") {{h}}
    input#messageBox(type="text" message-box ng-model="message")

