// socket.io
script(src="/socket.io/socket.io.js")
script(src="/javascripts/socket-io/socket.js")
// angular
script(src="/components/angular/angular.min.js")
script(src="/javascripts/angular/app.js")
script(src="/javascripts/angular/controllers/chat.js")
script(src="/javascripts/angular/directives.js")
